<mat-grid-list cols="1" rowHeight="fit" class="container">
    <mat-grid-tile rowHeight="10%">
        <app-headline></app-headline>
    </mat-grid-tile>

    <mat-grid-tile rowspan="4">
        <mat-card class="item">
            <h2>login</h2>
            <form>
                <mat-form-field appearance="fill" class="formItem">
                    <input type="email" matInput placeholder="email" [(ngModel)]="email" name="email">
                </mat-form-field>
                <mat-form-field appearance="fill" class="formItem">
                    <input type="password" matInput placeholder="password" [(ngModel)]="password" name="password">
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" class="item" (click)="login()">
                LOG IN </button>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile rowHeight="10%">
        <button mat-raised-button color="accent" (click)="navigate('register')" style="position: absolute;
        right: 24%; width: 20%;">SIGN UP</button>
    </mat-grid-tile>
</mat-grid-list>