.container {
  height: 100vh;
  background-color: rgb(212, 209, 209);
  text-align: center;
}
.item {
  width: 50%;
}
.formItem {
  display: block;
}

.error-message{
    padding: 5px 5px 5px 5px;
    background-color: silver;
}