<mat-toolbar>
  <div>
    <h3 style="color: rgb(64, 64, 187)">WIRED HEALTH</h3>
    <span style="color: rgb(150, 20, 20); font-size: medium"
      >CONNECTED HEALTH</span
    >
  </div>
  <span class="spacer"></span>
  <button mat-icon-button class="" aria-label="">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-grid-list cols="1" rowHeight="fit" class="container">
  <mat-grid-tile>
    <button mat-raised-button color="primary" class="item">MESSAGES</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="accent" class="item">VIEW BOOKINGS</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" class="item">
      CREATE DOCTORS ROOM
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="accent" class="item">VIEW BOOKINGS</button>
  </mat-grid-tile>

  
</mat-grid-list>
