<mat-grid-list cols="1" rowHeight="fit" class="container">
    <mat-grid-tile>
        <mat-icon class="item" color="accent" style="font-size: 6em;">local_hospital</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-headline></app-headline>
    </mat-grid-tile>

    <mat-grid-tile>
        <button mat-raised-button color="primary" class="item" (click)="navigate('register')">
            SIGN UP
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="accent" class="item" (click)="navigate('login')">LOG IN</button>
    </mat-grid-tile>
</mat-grid-list>