<mat-grid-list cols="1" rowHeight="fit" class="container">
  <mat-grid-tile rowHeight="10%">
    <app-headline></app-headline>
  </mat-grid-tile>

  <mat-grid-tile rowspan="4">
    <mat-card class="item">
      <h2>Register</h2>
      <form #tempForm="ngForm">
        <mat-form-field appearance="fill" class="formItem">
          <input
            required
            type="text"
            matInput
            placeholder="name"
            [(ngModel)]="name"
            name="name"
            #tempName="ngModel"
          />
        </mat-form-field>
        <div class="error-message" *ngIf="!tempName.valid && tempName.touched">
          Please enter name.
        </div>
        <mat-form-field appearance="fill" class="formItem">
          <input
            #tempEmail="ngModel"
            required
            email
            type="email"
            matInput
            placeholder="email"
            [(ngModel)]="email"
            name="email"
          />
        </mat-form-field>
        <div
          class="error-message"
          *ngIf="!tempEmail.valid && tempEmail.touched"
        >
          Please enter a valid email address.
        </div>
        <mat-form-field appearance="fill" class="formItem">
          <input
            #tempPassword="ngModel"
            required
            type="password"
            matInput
            placeholder="password"
            [(ngModel)]="password"
            name="password"
          />
        </mat-form-field>
        <div
          class="error-message"
          *ngIf="!tempPassword.valid && tempPassword.touched"
        >
          Please enter a password.
        </div>
      </form>
      <button
        [disabled]="!tempForm.valid"
        mat-raised-button
        color="primary"
        class="item"
        (click)="register()"
      >
        SIGN UP
      </button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile rowHeight="10%">
    <button
      mat-raised-button
      color="accent"
      (click)="navigate('login')"
      style="position: absolute; right: 24%; width: 20%"
    >
      LOG IN
    </button>
  </mat-grid-tile>
</mat-grid-list>
